<div class="background">
  <div class="container">
    <img src="../../assets/images/diana_logo.png" width="250">
    <h5>Intenta acercarte lo más posible al número {{randomNum}}</h5>
    <ion-range class="slider" min="1" max="100" step="1" [(ngModel)]="sliderValue" value="sliderValue" color="secondary">
      <ion-label slot="start">1</ion-label>
      <ion-label slot="end">100</ion-label>
    </ion-range>
    <ion-button color="danger" (click)="start()">¡Disparar!</ion-button>
    <div class="container__button">
      <ion-button color="danger" id="reset" (click)="reset()">Reset</ion-button>
      <span>Puntos: {{score}}</span>
      <span>Tiradas: {{spins}}</span>
      <ion-button color="danger" id="info"><ion-icon name="information-circle-outline"></ion-icon></ion-button>
    </div>
  </div>
</div>
