.background{
  background-image: url('../../assets/images/tapete.jpg');
  width: 100vw;
  height: 100vh;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider{
  width: 90%;
}
.container__button{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  #reset{
    align-self: flex-start;
  }
  #info{
    align-self: flex-end;
  }
  span{
    align-self: center;
  }
}